aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;    
    width: 100%;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 576px) {
    aside.logo img{
        width: 200px;
    }
}